
$navbar-inverse-color: #f5f5f5;
$navbar-inverse-bg: #CC0000;
$navbar-inverse-link-color: #f5f5f5;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
/* ~ to tell webpack that this is not a relative import */
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootstrap-custom';
